::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  
  .movie-poster {
    height: 100%;
    width: auto;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 16px;
  }
  
  .left {
    width: 76%;
  }
  
  .right {
    padding-top: 20px;
    width: 24%;
  }
  
  .released-movie-grid-item {
    margin: 15px;
  }